.search-field {
  position: relative;
}

.search-field .suggestions {
  position: absolute;
  padding-top: 5px;
  width: 100%;
}

.suggestions .item {
  padding: 5px 0px;
  color: #656565;
  cursor: pointer;
}

.suggestions .item:hover {
  background-color: #87aba84a;
}

.search-field input {
  width: 500px;
  height: 40px;
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid #11998e;
  outline: 0;
  font-size: 1.3rem;
  background: transparent;
}

.darker {
  color: black;
}
